<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }} - {{ .PageTitle }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>

<div class="ui fixed massive borderless menu">
  <div class="ui container">
    <a class="header item" href="/">{{ .Title }}</a>

    {{ if .EnabledSearch -}}
    <div class="right item">
      <div class="ui icon input">
        <input type="text" placeholder="Search" class="prompt">
        <i class="search link icon"></i>
      </div>
    </div>
    {{ end -}}
  </div>
</div>

<div class="ui grid main container">
  <div class="row">
    <div class="eleven wide column">
      <div class="ui borderless menu">
        <div class="item">
          <div class="ui breadcrumb">
            {{ range $i, $v := .Breadcrumb -}}
            <a class="section" href="{{ $v.Link }}">{{ $v.Name }}</a>
            {{ if ne $i $.BreadcrumbLastIndex }}<div class="divider"> / </div>{{ end -}}
            {{ end -}}
          </div>
        </div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui icon compact menu">
        {{ if .RawURL }}<a class="item pagemenu" data-content="Raw" href="{{ .RawURL }}"><i class="file outline icon"></i></a>{{ end }}
        {{ if .EditURL }}<a class="item pagemenu" data-content="Edit" href="{{ .EditURL }}"><i class="edit icon"></i></a>{{ end }}
        <a class="item pagemenu" data-content="Copy permalink" onclick="navigator.clipboard.writeText(window.location.href)"><i class="clipboard outline icon"></i></a>
        <a class="item pagemenu" data-content="Toggle to show table of contents" onclick="toggle_toc()"><i class="list icon"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="eleven wide column doc">
    {{ .Content }}
    </div>

    <div class="five wide column">
      <div class="ui container toc">
        <h2>Table of Contents</h2>
        <ol class="ui list">
          {{ range .TableOfContent -}}
          <li><a href="#{{ .Anchor }}">{{ .Title }}</a>
          {{- if and (not .Up) (not .Down) -}}
          </li>
          {{ end -}}
          {{ if .Down }}
          <ol>
          {{ end -}}
          {{ if .Up -}}
          </li>
          </ol>
          {{ end -}}
          {{ end -}}
        </ol>
        {{ if .References -}}
        <h4><a href="#page-links">Links</a></h4>
        {{ end -}}
        {{ if .Cited -}}
        <h4><a href="#page-cited">Cited by {{ len .Cited }}</a></h4>
        {{ end -}}
      </div>
    </div>
  </div>

  {{ if or .References .Cited -}}
  <div class="row">
    <div class="eleven wide column">
    {{ if .References -}}
    <h2 id="page-links">Links</h2>
    <ul class="ui list">
      {{ range .References -}}
      <li>
      {{ if eq .Type.String "LINK_TYPE_EXTERNAL" -}}
      <a href="{{ .Destination }}" target="_blank">{{ if .Title }}{{ .Title }}{{ else }}{{ .Destination }}{{ end }}</a>
      {{ end -}}
      {{ if eq .Type.String "LINK_TYPE_IN_REPOSITORY" -}}
      <a href="/{{ $.Repo }}/{{ $.Ref }}/-/{{ .Destination }}">{{ if .Title }}{{ .Title }}{{ else }}{{ .Destination }}{{ end }}</a>
      {{ end -}}
      </li>
      {{ end -}}
    </ul>
    {{ end -}}
    {{ if .Cited -}}
    <h2 id="page-cited">Cited</h2>
    <ul class="ui list">
      {{ range .Cited -}}
      <li>
      {{ if eq .Type.String "LINK_TYPE_IN_REPOSITORY" -}}
      <a href="/{{ $.Repo }}/{{ $.Ref }}/-/{{ .Source }}">{{ if .Title }}{{ .Title }}{{ else }}{{ .Source }}{{ end }}</a>
      {{ end -}}
      </li>
      {{ end -}}
    </ul>
    {{ end -}}
    </div>
  </div>
  {{ end -}}
</div>
<script>
$('.pagemenu')
  .popup()
;

function toggle_toc() {
  toc = $(".toc").toggle();
  d = document.getElementsByClassName("doc")[0];
  if (toc.is(":visible")) {
    d.classList.replace("sixteen", "eleven");
  } else {
    d.classList.replace("eleven", "sixteen");
  }
}
</script>
</body>
</html>
