.main.container {
    margin-top: 2em;
}

.ui.container.toc {
    position: sticky;
    top: 5em;
}

body {
    counter-reset: section;
}

.doc h2 {
    counter-reset: subsection;
    padding-top: 3em;
    margin-top: -3em;
}

.doc h3 {
    counter-reset: subsubsection;
    padding-top: 3.5em;
    margin-top: -3.5em;
}

.doc h4 {
    padding-top: 4.5em;
    margin-top: -4.5em;
}

.doc h4 {
    counter-reset: subsubsubsection;
}

.doc h2:before {
    counter-increment: section;
    content: counter(section) ". ";
}

.doc h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}

.doc h4:before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
}
